In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [4]:
# your code here
df.head()   #It's default value is 5.

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [5]:
# your code here
df.tail()       #Default value is 5, like 'head'.

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

In [6]:
#your code here
df.groupby('method').size().count()     #displays amount of unique methods

#df.groupby('method').size()             #displays these methods

10

### What is the number of data collected in each year?

In [7]:
# your code here
df.groupby('year').size()

year
1989      1
1992      2
1994      1
1995      1
1996      6
1997      1
1998      5
1999     15
2000     16
2001     12
2002     32
2003     25
2004     26
2005     39
2006     31
2007     53
2008     74
2009     98
2010    102
2011    185
2012    140
2013    118
2014     52
dtype: int64

### Which columns have missing values and how many?

In [8]:
# your code here
df.isnull().sum()

#df.info()          #info can also be used to examine "Non-Null Count" column.

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

### Write docstring for the function below.

In [9]:
def do_something(x, y, z):
    """Takes in 3 numbers, returns sum of 1 over every variable."""   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [10]:
# your code here
do_something.__doc__

'Takes in 3 numbers, returns sum of 1 over every variable.'

### Call do_something function for the (11,13,15) values and save it as result

In [11]:
# your code here
value = do_something(11, 13, 15)
value

4.26441351888668

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [12]:
s = "I love Machine Learning and Deep Learning"

# use int() to convert the result to integer
# your code here

ind = int(value)
words = s.split()
words[ind]

'and'

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [14]:
import random

arr = [random.randint(1, 100) for i in range(10)]

# your code here

def compute_lenght(arr):
    i = 0
    while( arr[i:] ):
        i+=1
    return i



def selection_sort(arr, size):
    for i in range(size):
        max_index = i
        
        for j in range(max_index+1, size):
            if( arr[max_index] > arr[j] ):
                max_index = j
        
        (arr[max_index], arr[i]) = (arr[i], arr[max_index])


size = compute_lenght(arr)
selection_sort(arr, size)
arr

[9, 28, 37, 37, 54, 55, 61, 63, 76, 82]

### define a recursive function to calculate input numbers factorial named factorial

In [15]:
# your code here

def rec_factorial(numb):
    if( numb == 1 or numb == 0 ):
        return 1
    return numb*rec_factorial(numb-1)

rec_factorial(6)        #Working example

720

### define a function to merge the given arrays and calculate the median named twoMedian

In [21]:
# your code here

def merge_arr(arr1, arr2):      #this function assumes that the lists are sorted.
    merged = []
    i, j = 0, 0
    while( i<len(arr1) and j<len(arr2) ):
        if( arr1[i] < arr2[j] ):
            merged.append(arr1[i])
            i+=1
        else:
            merged.append(arr2[j])
            j+=1
            
    while( i<len(arr1) ):
        merged.append(arr1[i])      #Append remainig elements of arr1 
        i+=1
    while( j<len(arr2) ):
        merged.append(arr2[j])      #Append remainig elements of arr2
        j+=1
    
    return merged

arr1 = [random.randint(1, 100) for i in range(10)]
arr2 = [random.randint(1, 100) for i in range(10)]

selection_sort(arr1, compute_lenght(arr1))          #Sort the arrays because merge_arr function expects them to be sorted.
selection_sort(arr2, compute_lenght(arr2))

print(merge_arr(arr1, arr2))

[3, 19, 20, 24, 24, 28, 31, 32, 33, 34, 42, 44, 65, 71, 74, 88, 91, 92, 94, 99]